button:focus, button:focus-visible {
    outline: none;
}

.addChar{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    
    /* flex-direction: column; */
}
